@font-face {
  font-family: "Asap";
  src: url("../assets/fonts/AsapCondensed-MediumItalic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Saira";
  src: url("../assets/fonts/SairaCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Saira";
  src: url("../assets/fonts/SairaCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Saira";
  src: url("../assets/fonts/SairaCondensed-Light.ttf") format("truetype");
  font-weight: lighter;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  font-family: "Quick", sans-serif;
}

:root {
  --color-bg: #fdfdff;
/*   --color-bg-variant: #f5f8fd; */
  --color-bg-variant: #6D9773;
  --color-bg-darker: #0C3B2E;
  --color-action-danger: #B46617;
  --color-action: #FFBA00;
}

html,
body,
main {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-bg);
}

main {
  display: flex;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 3rem;
  font-family: "Asap", sans-serif;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4,
p {
  font-size: 1rem;
}

/* --------------------- Add Book Section --------------------- */
.add-book-wrapper {
  min-height: 100%;
  width: 20%;
  background-color: var(--color-bg-variant);
}

.books-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------------------- Counter Section ---------------------- */
.counter-wrapper {
  min-height: 20%;
  min-width: 70%;
  background-color: var(--color-bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
.counter-mobile {
  display: none;
}
.counter {
  display: flex;
  list-style: none;
}
.counter>*,
.counter-mobile>* {
  text-transform: uppercase;
  margin-right: 1rem;
  font-size: 1rem;
}
.counter span,
.counter-mobile span {
  font-size: 1.2rem;
}
.counter-wrapper> button {
 background-color: var(--color-action-danger);
 color: var(--color-bg);
 text-transform: uppercase;
 padding: 1rem;
 font-size: 1rem;
 border: none;
}
.counter-wrapper > i {
  display:none;
}

/* --------------------- List of Books Section ---------------- */
.books-list-wrapper {
  min-height: 80%;
  width: 70%;
  background-color: var(--color-bg-darker);
}

/* --------------------- Edit Book Section -------------------- */
.edit-book-wrapper {
  display: none;
}

/* --------------------- Media Queries ------------------------ */

/* Media Queries (XXL Devices) */
@media screen and (min-width: 2048px) {

}
/* Media Queries (Medium Devices) */
@media screen and (max-width: 1024px) {
  .counter {
    flex-direction: column;
  }
}
/* Media Queries (Small Devices) */
@media screen and (max-width: 600px) {
 .counter-wrapper > button {
  display: none;
 }
 .counter-wrapper >i {
  display: block;
  font-size: 3rem;
  color: var(--color-action-danger);
 }
 .counter {
  display: none;
 }
 .counter-mobile {
  display: block;
  list-style: none;
 }
}
