* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

:root {
  --color-bg: #fdfdff;
  --color-bg-variant: #f7fbff;
  --color-header: rgb(1, 1, 107);
  --color-action: #c45555;
}

html,
body,
main {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-bg);
}

body {
  display: flex;
  justify-content: center;
}

main {
  max-width: 2048px;
  display: flex;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4,
p {
  font-size: 1rem;
}

/* --------------------- Add Book Section --------------------- */
.add-book-wrapper {
  min-height: 100%;
  width: 20%;
  background-color: blanchedalmond;
}

.books-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------------------- Counter Section ---------------------- */
.counter-wrapper {
  min-height: 20%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}

.counter-mobile {
  display: none;
}

.counter {
  display: flex;
  list-style: none;
}

.counter>*,
.counter-mobile>* {
  text-transform: uppercase;
  margin-right: 1rem;
  font-size: 1rem;
}

.counter span,
.counter-mobile span {
  font-size: 1.2rem;
}

.counter-wrapper>button {
  background-color: var(--color-action);
  color: var(--color-bg);
  text-transform: uppercase;
  padding: 1rem;
  font-size: 1rem;
  border: none;
}

.counter-wrapper>i {
  display: none;
}

/* --------------------- List of Books Section ---------------- */
.books-list-wrapper {
  min-height: 80%;
  width: 80%;
}

header.books-list-header {
  height: 70px;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  padding: 0 2%;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 2px 3px 0px rgba(0, 0, 0, 0.664);
  background-color: var(--color-header);
  color: var(--color-bg);
}

.book-wrapper{
  height: 70px;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 2%;
  border: 1px solid rgba(192, 192, 192, 0.411);
  border-radius: 10px;
  box-shadow: 3px 2px 3px 0px rgba(0, 0, 0, 0.664);
  background-color: var(--color-bg-variant);
  -webkit-animation: slideIn 0.5s ease-in;
  animation: slideIn 0.5s ease-in;
}

.book-wrapper:hover {
  cursor: pointer;
  background-color: var(--color-header);
  color: var(--color-bg);
}

.book-wrapper p {
  height: 100%;
  display: flex;
  align-items: center;
}

.removed {
  -webkit-animation: slideOut 0.5s ease;
  animation: slideOut 0.5s ease;
}

.title {
  width: 30%;
}

.author {
  width: 20%;
}

.pages {
  width: 10%;
}

.status {
  width: 22%;
  text-align: center;
  justify-content: center;
}

.removal {
  width: 18%;
  text-align: center;
  justify-content: center;
  color: red;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.removal i:hover {
  transform: scale(1.5, 1.5);
  transition: all 0.5s ease-in-out;
}

/* --------------------- Edit Book Section -------------------- */
.edit-book-wrapper {
  display: none;
}

/* --------------------- Media Queries ------------------------ */

/* Media Queries (XXL Devices) */
@media screen and (min-width: 2048px) {

}

/* Media Queries (Medium Devices) */
@media screen and (max-width: 1024px) {
  .counter {
    flex-direction: column;
  }
}

/* Media Queries (Small Devices) */
@media screen and (max-width: 701px) {
  .counter-wrapper>button {
    display: none;
  }

  .counter-wrapper>i {
    display: block;
    font-size: 3rem;
    color: var(--color-action);
  }

  .counter {
    display: none;
  }

  .counter-mobile {
    display: block;
    list-style: none;
  }
}

/* --------------------- Animations ------------------------ */
@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    left: 100vw;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    left: 100vw;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes slideOut {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 0;
    left: 100vw;
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 0;
    left: 100vw;
  }
}
