* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

:root {
  --color-bg: #fdfdff;
  --color-bg-variant: #f5f8fd;
}

html,
body,
main {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-bg);
}

main {
  display: flex;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4,
p {
  font-size: 1rem;
}

/* --------------------- Add Book Section --------------------- */
.add-book-wrapper {
  min-height: 100%;
  width: 20%;
  background-color: blanchedalmond;
}

.books-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------------------- Counter Section ---------------------- */
.counter-wrapper {
  min-height: 20%;
  width: 70%;
  background-color: aqua;
}

/* --------------------- List of Books Section ---------------- */
.books-list-wrapper {
  min-height: 80%;
  width: 70%;
  background-color: aquamarine;
}

/* --------------------- Edit Book Section -------------------- */
.edit-book-wrapper {
  display: none;
}

/* --------------------- Media Queries -------------------- */
/* Media Queries (XXL Devices) */
@media screen and (min-width: 2048px) {

}
/* Media Queries (Medium Devices) */
@media screen and (max-width: 1024px) {

}
/* Media Queries (Small Devices) */
@media screen and (max-width: 600px) {

}
